.table {
    width: 600px;
    height: 600px;
    background-color: darkgreen;
}

.roomDiv {
    width: 600px;
    float: left;
}

.messagesDiv {
    width: 200px;
    float: left;
}

#messagesTextArea {
    margin-top: 20px;
    height: 550px;
}

.middleRow {
    width: 100%;
    float: left;
    border: solid #000000 1px;
}

.playerslot {
    width: 130px;
    height: 130px;
    float: left;
    border: solid #000000 1px;
}

.playerslot.center {
    margin-left: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.playerslot.vmiddle {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15%;
}

.centerTable {
    width: 300px;
    height: 300px;
    float: left;
    border: solid #000000 1px;
}

.mydeck {
    float: left;
    width: 100%;
    border: solid black 1px;
}

.slot2 {
    width: 60px;
    height: 80px;
    border: solid black 1px;
    position: absolute;
    top: 30px;
    left: 120px;
}

.slot3 {
    width: 60px;
    height: 80px;
    border: solid black 1px;
    position: absolute;
    top: 100px;
    left: 30px;
}

.slot1 {
    width: 60px;
    height: 80px;
    border: solid black 1px;
    position: absolute;
    top: 100px;
    right: 30px;
}

.slot0 {
    width: 60px;
    height: 80px;
    border: solid black 1px;
    position: absolute;
    bottom: 30px;
    left: 120px;
}

.centerTable {
    position: relative;
}

