.loginPanel, .signupPanel {
    width: 100%;
    margin-top: 100px;
}
.panel-heading {
    margin-left: -15px;
    margin-right: -15px;
    padding: 25px;
}

.form-group {
    padding-top: 20px;
    padding: 5px;
}