

.loginPanel, .signupPanel {
    font-size: 14px;
    width: 100%;
    height: 50px;
}

.form-control {
    height: 40px;
    font-size: 14px;
}

.body {
    height: 100%;
}

.form-group.emailSection {
    margin-top: 10px;
}

.footerSection {
    margin-top: 10px;
}

