.playerslot {
    border: solid 1px grey;
    background-color: grey;
    /*background-image: url('/images/chair.png');*/
    /*background-size: 60px 70px;*/
}

.playerName{
    text-align: center;
    background-color: grey;
    width: 160px;
}

.joinButton {
    margin-top: 20px;
}

.startGameContent {
    margin-top: -35px;
    z-index: 4;
}

.statusIcon {
    width: 20px;
}

.teamName {
    font-size: 9px;
    margin-top: -4px;
}

.playerButtonPanel {
    position: absolute;
    left: 10px;
    width: 70px;
    line-height: 30px;
    z-index: 10;
}

.rightButtonPanel {
    position: absolute;
    z-index: 10;
    top: 450px;
    left: 10px;
    width: 70px;
    line-height: 30px;
}

.winnerIcon {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 50px;
    visibility:hidden;
}