
.playerName{
    text-align: center;
    background-color: grey;
    width: 160px;
}
.centerTable {
    position: absolute;
}

.playerslotContent {
    background-color: #CC7A00;
    width: 70px;
    height: 95px;
    color: white;
    border-radius: 5px;
    font-size: 11px;
    border: solid 1px #CC7A00;
}

.playerName {
    background-color: #FFA319;
    width: 100%;
    border-radius: 5px 5px 0px 0px
}

.joinButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    font-size: 15px;
    z-index: 15;
}

.callButton {
    margin: 7px;
}

.startGameContent {
    position: absolute;
    z-index: 15;
    top: 270px;
    left: 245px;
    height: 100px;
    width: 232px;
}

.statusIcon {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
}

.ejectButton {
    position: absolute;
    top: 40px;
    left: 5px;
    width: 59px;
    font-size: 13px;
}

.teamName {
    font-size: 9px;
    margin-top: -4px;
}

.playerButtonPanel {
    position: absolute;
    left: 10px;
    width: 70px;
    line-height: 30px;
    z-index: 10;
}

.rightButtonPanel {
    position: absolute;
    z-index: 10;
    top: 170px;
    left: 10px;
    width: 70px;
    line-height: 30px;
}

.winnerIcon {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 50px;
    visibility:hidden;
}
.mydeck {
    background-color: #F0F8FF;
}

.teamStatPanel {
    position: absolute;
    top: 100px;
    left: 130px;
    width: 170px;
    height: 65px;
    font-size: 10px;
    background-color: #F0F8FF;
}

.teamStatPanel .borderBottom {
    border-bottom: 1px solid #AEBDCC;
}
.teamStatPanel .borderRight {
    border-right: 1px solid #AEBDCC;
}

.teamStatPanel .tableData {
    text-align: center;
}

.trumpDiv {
    position: absolute;
}

.trumpDiv.zero{
    top: 450px;
    left: 285px;
}

.trumpDiv.one{
    left: 194px;
    top: 260px;
}

.trumpDiv.two{
    top: 180px;
    left: 285px;
}

.trumpDiv.three{
    left: 510px;
    top: 250px;
}

.trumpDiv .card {
    width: 40px;
}

.lastRoundCardsDiv {
    background-color: #DEB887;
    position: absolute;
    top: 100px;
    left: 540px;
    width: 180px;
    height: 80px;
    text-align: center;
}

.lastRoundCards .card {
    width: 35px;
    margin: 4px;
}

.emptyChair {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 10px;
}

.playerButtonPanelMobile {
    position: absolute;
    top: 550px;
    left: 10px;
    z-index: 10;
}