.roomContainer {
    height: 560px;
    min-height: 560px;
    width: 100%;
    position: relative;
    color: white;
    font-weight: bold;
    min-width: 600px;
}

.table {
    position: relative;
    top: 5px;
}

.centerTable {
    position: relative;
    height: 225px;
    border: solid #000000 1px;
    width: 350px;
    top:65px;
    left:90px;
    background-color: #006600;
}

.playerslot {
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 5px;
    font-size: 12px;
    color: white;
}

.playerslot.zero {
    top:290px;
    left:235px;
}

.playerslot.one {
    top:140px;
    left:441px;
}

.playerslot.two {
    top: 0px;
    left:235px;
}

.playerslot.three {
    top: 140px;
    left: 29px;
}

.avatar {
    width:45px;
}
.startGameContent{
    font-size: 12px;
    width: 500px;
}

.messagesDiv {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 33%;
    height: 35%;
    text-align: left;
    color: #008800;
}
.chatDiv {
    position: absolute;
    top: 450px;
    right: 100px;
    width: 33%;
    height: 230px;
    text-align: left;
    color: orange;
}
.chatTextArea{
    min-height: 150px;
    max-height: 150px;
    font-size: 10px;
    width: 100%;
    overflow-y: scroll;
}

.messagesTextArea {
    min-height: 150px;
    max-height: 150px;
    font-size: 10px;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
}

.mydeck {
    position: absolute;
    min-height: 180px;
    left: 50px;
    top: 500px;
    min-width: 650px;
}

.slot3 {
    width: 50px;
    height: 50px;
    /*border: solid black 1px;*/
    position: absolute;
    top: 60px;
    left: 5px;
}

.slot1 {
    width: 50px;
    height: 50px;
    /*border: solid black 1px;*/
    position: absolute;
    top: 60px;
    right: 30px;
}

.slot2 {
    width: 50px;
    height: 50px;
    /*border: solid black 1px;*/
    position: absolute;
    top: 5px;
    left: 135px;
}

.slot0 {
    width: 50px;
    height: 50px;
    /*border: solid black 1px;*/
    position: absolute;
    bottom: 55px;
    left: 135px;
}

.alert {
    padding: 5px;
    margin-bottom: 2px;
}

.roomDiv {
    text-align: center;
}


.card {
    width: 65px;
}

.lastRoundCards .card {
    width: 35px;
    margin: 2px;
}

.hand li
{
    display: inline;
    list-style-type: none;
    padding-right: 2px;
    padding-bottom: 2px;
}

.content {
    margin-top: -20px;
}

.statPanel {
    position: absolute;
    left: 500px;
    top: 100px;
    min-width: 200px;
    max-width: 200px;
    min-height: 130px;
    max-height: 130px;
    margin-bottom: 5px;

}

.actionPanel {
    position: absolute;
    left: 510px;
    top: 260px;
    min-width: 200px;
    max-width: 200px;
    min-height: 230px;
    max-height: 230px;
    text-align: center;

}

.gameStatTable {
    width: 100%;
    padding: 5px;
}

td.tableHeader {
    border-right: 1px solid #AEBDCC;
    width: 70px;
    font-size: 12px;
}

td.tableData {
    font-size: 12px;
    text-align: center;
}

.team2Points td, .team1Points td, .trumpDiv td {
    border-bottom: 1px solid #AEBDCC;
}

.team2Points .gamePoints, .team1Points .gamePoints {
    border-right: 1px solid #AEBDCC;
}



.callButton {
    min-width: 30px;
    margin: 5px;
    font-weight: bold;
}

.panel-heading {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    max-height: 35px;
}

.statusIcon.right {
    position: absolute;
    left: 60px;
    top: 10px;
    z-index: 10;
}

.logo {
    height: 90px;
}





