.navbar-brand {
    font-size: 14px;
}

.btn-sm {
    height: 30px;
    font-size: 14px;
}

.welcomeContent {
    font-size: 10px !important;
}

.logo {
    height: 60px;
}

.gameStatusDiv {
    position: absolute;
    top:  10px;
    width: 290px;
    left: 80px;
}


.roomContainer {
    height: 400px;
    min-height: 400px;
    position: relative;
    color: white;
    font-weight: bold;
    min-width: 400px;
    width: 500px;
}

.table {
    position: relative;
}


.centerTable {
    position: relative;
    height: 100px;
    width: 140px;
    top:55px;
    left:75px;
    background-color: #006600;
}

.mydeck {
    position: absolute;
    min-height: 100%;
    top: 50px;
    left: 470px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    z-index: 3;
}

.mydeck .panel-heading {
    display: none;
}

.mydeck ul {
    padding: 3px !important;
}

.actionPanel {
    position: absolute;
    left: 270px;
    top: 120px;
    width: 195px;
    height: 166px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: #33CCFF;

}

.startGameContent {
    width: 280px;
    z-index: 5;
}

.playerButtonPanel {
    left: 10px;
    width: 70px;
    top: 50px;
}

.actionPanel .panel-heading {
    display: none;
}

.actionPanel .card {
    width: 35px;
    padding: 2px;
}

.statPanel {
    position: absolute;
    left: 270px;
    top: 220px;
    width: 195px;
    margin-bottom: 5px;
    background-color: #EFAC0E;
    font-size: 11px;
}

.statPanel td {
    padding-right: 5px;
}

.statPanel .panel-heading {
    display: none;
}

.playerslot {
    position: absolute;
    width: 60px;
    height: 70px;
    font-size: 9px;
    color: white;
}

.playerslot.zero {
    top:165px;
    left:116px;
}

.playerslot.two {
    top:-20px;
    left:116px;
}

.playerslot.three {
    top:75px;
    left:220px;
}

.playerslot.one {
    top: 75px;
    left: 10px;
}

.avatar {
    width:45px;
    height:45px;
}

.startGameContent{
    position: absolute;
    font-size: 12px;
    z-index: 15;
    top: 30px;
    left: 80px;
}

.messagesDiv {
    position: absolute;
    top: 50px;
    left: 600px;
    width: 100px;
    text-align: left;
    color: #008800;
    font-size: 8px;
    min-height: 100%;
}
.chatDiv {
    position: absolute;
    top: 300px
    left: 600px;
    width: 100px;
    text-align: left;
    color: orange;
    font-size: 8px;
    display: none;
    min-height: 100%;
}

.chatTextArea{
    background-color: white;
    min-height: 100px;
    font-size: 8px;
    width: 100%;
}

.messagesTextArea {
    background-color: white;
    min-height: 250px;
    font-size: 8px;
    width: 100%;
}

.slot3 {
    position: absolute;
    top: 30px;
    left: 2px;
}

.slot1 {
    position: absolute;
    top: 30px;
    right: 2px;
}

.slot2 {
    position: absolute;
    top: 2px;
    left: 50px;
}

.slot0 {
    position: absolute;
    bottom: 2px;
    left: 50px;
}

.alert {
    padding: 5px;
    margin-bottom: 2px;
}

.roomDiv {
    text-align: center;
}


.card {
    width: 40px;
}

.hand li
{
    display: inline;
    list-style-type: none;
    padding-right: 2px;
    padding-bottom: 2px;
}

.content {
    margin-top: -20px;
}

.chatTextBox {
    width: 40px;
}

.centerTable .card {
    width: 30px;
    color: white;
}

.roomDiv {
    font-size: 10px;
}

.rightButtonPanel {
    position: absolute;
    z-index: 10;
    top: 250px;
    left: 0px;
    width: 70px;
    line-height: 30px;
}

.joinButton {
    margin-top: 10px;
}

.lastRoundCards {
    position:absolute;
    width: 180px;
    top: 70px;
}

.trumpDivBody {
    width: 180px;
    position:absolute;
}

.teamStatPanel {
    position: absolute;
    top: 50px;
    left: 200px;
    min-width: 160px;
    max-width: 160px;
    min-height: 65px;
    max-height: 65px;
    font-size: 10px;
}



