.navbar-brand {
    font-size: 14px;
}

.btn-sm {
    height: 30px;
    font-size: 14px;
}

.welcomeContent {
    font-size: 10px !important;
}

.logo {
    height: 60px;
}

.gameStatusDiv {
    position: absolute;
    top:  20px;
    width: 290px;
    left: 80px;
}

.roomContainer {
    height: 400px;
    min-height: 400px;
    position: relative;
    color: white;
    font-weight: bold;
    min-width: 400px;
    width: 500px;
}

.table {
    position: relative;
}


.centerTable {
    background-color: green;
    height: 200px;
    width: 300px;
    top: -40px;
    left: 130px;
    border-radius: 100px;
    z-index: -1;
}

.joinButton {
    position: absolute;
    top: 20px;
    width: 70px;
    font-size: 15px;
    z-index: 15;
}

.actionPanel {
    position: absolute;
    left: 119px;
    top: 52px;
    min-width: 310px;
    max-width: 310px;
    min-height: 180px;
    max-height: 180px;
    text-align: center;
    font-size: 15px;
    border: solid 7px gray;
    background-color: #FFF0F5;
    padding-top: 5px;
}

.mydeck {
    position: absolute;
    min-height: 100%;
    top: 50px;
    left: 440px;
    width: 120px;
    min-width: 110px;
    max-width: 110px;
    z-index: 3;
}

.mydeck .panel-heading {
    display: none;
}

.mydeck ul {
    padding: 3px !important;
}


.startGameContent {
    width: 180px;
    z-index: 5;
    top: 100px;
    left: 165px;

}

.playerButtonPanel {
    left: 0px;
    width: 70px;
    top: 100px;
}

.actionPanel .panel-heading {
    display: none;
}

.statPanel {
    position: absolute;
    left: 270px;
    top: 220px;
    width: 195px;
    margin-bottom: 5px;
    background-color: #EFAC0E;
    font-size: 11px;
}

.statPanel td {
    padding-right: 5px;
}

.statPanel .panel-heading {
    display: none;
}

.playerslotContent {
    width: 60px;
    height: 70px;
    z-index; 5;
}

.playerslot {
    position: absolute;
    z-index; 5;
    font-size: 9px;
    color: white;
}

.playerslot.zero {
    top: 95px;
    left: 150px;
}

.playerslot.two {
    top: -40px;
    left: 350px;
}

.playerslot.three {
    top: 95px;
    left: 350px;
}

.playerslot.one {
    top: -40px;
    left: 150px;
}

.avatar {
    width:35px;
    height:35px;
}


.messagesDiv {
    position: absolute;
    top: 50px;
    left: 600px;
    width: 100px;
    text-align: left;
    color: #008800;
    font-size: 8px;
    min-height: 100%;
}
.chatDiv {
    position: absolute;
    top: 300px
    left: 600px;
    width: 100px;
    text-align: left;
    color: orange;
    font-size: 8px;
    display: none;
    min-height: 100%;
}

.chatTextArea{
    background-color: white;
    min-height: 100px;
    font-size: 8px;
    width: 100%;
}

.messagesTextArea {
    background-color: white;
    min-height: 250px;
    font-size: 8px;
    width: 100%;
}

.slot3 {
    position: absolute;
    top: 120px;
    left: 164px;
}

.slot1 {
    position: absolute;
    top: 58px;
    left: 102px;
}

.slot2 {
    position: absolute;
    top: 58px;
    left: 164px;
}

.slot0 {
    position: absolute;
    top: 120px;
    left: 102px;
}

.trumpDiv.zero{
    top: 220px;
    left: 194px;
}

.trumpDiv.one{
    left: 194px;
    top: 46px;
}

.trumpDiv.two{
    top: 46px;
    left: 294px;
}

.trumpDiv.three{
    left: 294px;
    top: 220px;
}

.trumpDiv .card {
    width: 30px;
}

.alert {
    padding: 5px;
    margin-bottom: 2px;
}

.roomDiv {
    text-align: center;
}


.card {
    width: 45px;
}

.hand li
{
    display: inline;
    list-style-type: none;
    padding-right: 2px;
    padding-bottom: 2px;
}

.content {
    margin-top: -20px;
}

.chatTextBox {
    width: 40px;
}

.centerTable .card {
    width: 35px;
    color: white;
}

.roomDiv {
    font-size: 10px;
}

.rightButtonPanel {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 0px;
    width: 70px;
    line-height: 30px;
}



.trumpDivBody {
    width: 180px;
    position:absolute;
}

.teamStatPanel {
    position: absolute;
    top: 270px;
    left: 210px;
    width: 140px;
}

.lastRoundCardsDiv {
    position: absolute;
    top: 270px;
    left: 0px;
    width: 170px;
    height: 70px;
}

.lastRoundCards {
    position:absolute;
    width: 180px;
    top: 70px;
}


.lastRoundCards .card {
    width: 30px;
}

.lastRoundCardsDiv .panel-heading {
    display: none;
}



