.navbar-brand {
    font-size: 14px;
}

.btn-sm {
    height: 30px;
    font-size: 14px;
}

.welcomeContent {
    font-size: 10px !important;
}

.logo {
    height: 60px;
}

.gameStatusDiv {
    margin-top: -20px;
    width: 280px;
}

.startGameContent {
    width: 280px;
    z-index: 5;
}


.roomContainer {
    height: 400px;
    min-height: 400px;
    position: relative;
    color: white;
    font-weight: bold;
    min-width: 400px;
    width: 500px;
}

.table {
    position: relative;
}


.centerTable {
    position: relative;
    height: 100px;
    border: solid #000000 1px;
    width: 140px;
    top:54px;
    left:70px;
    background-color: #006600;
}

.mydeck {
    position: absolute;
    min-height: 100%;
    top: 50px;
    right: 0px;
    width: 50px;
    z-index: 3;
}

.mydeck .panel-heading {
    display: none;
}

.mydeck ul {
    padding: 3px !important;
}

.actionPanel {
    position: absolute;
    left: 0px;
    top: 290px;
    width: 250px;
    height: 130px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: #2aabd2;

}

.actionPanel .panel-heading {
    display: none;
}

.actionPanel .card {
    width: 35px;
    padding: 2px;
}

.statPanel {
    position: absolute;
    left: 0px;
    top: 425px;
    width: 250px;
    margin-bottom: 5px;
    background-color: #b5d592;
}

.statPanel .panel-heading {
    display: none;
}

.playerslot {
    position: absolute;
    width: 40px;
    height: 54px;
    font-size: 9px;
    color: white;
    padding: 0px;
}

.playerslot.zero {
    top:154px;
    left:116px;
}

.playerslot.two {
    top:0px;
    left:116px;
}

.playerslot.three {
    top:75px;
    left:220px;
}

.playerslot.one {
    top: 75px;
    left: 20px;
}

.avatar {
    position:absolute;
    top: 12px;
    width: 30px;
    height: 30px;
    left: 0px;
}

.playerName {
    position: absolute;
    top: 0px;
    width: 30px;
    left: 0px;
}
.teamName {
    position: absolute;
    bottom: 0;
    left: 0px;
}

.startGameContent{
    font-size: 12px;
}

.messagesDiv {
    position: absolute;
    bottom: 90px;
    right: 20px;
    width: 100px;
    text-align: left;
    color: #008800;
    font-size: 8px;
}
.chatDiv {
    position: absolute;
    bottom: 100px;
    right: 20px;
    width: 100px;
    text-align: left;
    color: orange;
    font-size: 8px;
    display: none;
}

.chatTextArea{
    background-color: white;
    min-height: 100px;
    font-size: 8px;
    width: 100%;
}

.messagesTextArea {
    background-color: white;
    min-height: 160px;
    font-size: 8px;
    width: 100%;
}

.slot3 {
    position: absolute;
    top: 30px;
    left: 2px;
}

.slot1 {
    position: absolute;
    top: 30px;
    right: 2px;
}

.slot2 {
    position: absolute;
    top: 2px;
    left: 50px;
}

.slot0 {
    position: absolute;
    bottom: 2px;
    left: 50px;
}

.alert {
    padding: 5px;
    margin-bottom: 2px;
}

.roomDiv {
    text-align: center;
}


.card {
    width: 40px;
}

.hand li
{
    display: inline;
    list-style-type: none;
    padding-right: 2px;
    padding-bottom: 2px;
}

.content {
    margin-top: -20px;
}

.chatTextBox {
    width: 40px;
}

.centerTable .card {
    width: 30px;
}

.roomDiv {
    font-size: 10px;
}

.rightButtonPanel {
    position: absolute;
    z-index: 10;
    top: 240px;
    left: 0px;
    width: 70px;
    line-height: 30px;
}

.playerButtonPanel {
    width: 70px;
    top: 75px;
}



