.navbar-brand {
    font-size: 14px;
}

.btn-sm {
    height: 30px;
    font-size: 14px;
}

.welcomeContent {
    font-size: 10px !important;
}

.logo {
    height: 60px;
}

.gameStatusDiv {
    margin-top: -20px;
    width: 320px;
}

.startGameContent {
    width: 180px;
    z-index: 5;
    top: 200px;
    left: 60px;

}

.roomContainer {
    height: 400px;
    min-height: 400px;
    position: relative;
    color: white;
    font-weight: bold;
    min-width: 400px;
    width: 500px;
}

.table {
    position: relative;
}

.centerTable {
    background-color: green;
    height: 280px;
    width: 300px;
    top: 30px;
    left: 15px;
    border-radius: 150px;
    z-index: -1;
}

.mydeck {
    position: absolute;
    height: 120px;
    top: 400px;
    left: 0px;
    width: 200px;
    z-index: 3;
}

.mydeck .panel-heading {
    display: none;
}

.mydeck ul {
    padding: 3px !important;
}

.actionPanel {
    position: absolute;
    left: 19px;
    top: 142px;
    min-width: 310px;
    max-width: 310px;
    min-height: 180px;
    max-height: 180px;
    text-align: center;
    font-size: 15px;
    border: solid 7px gray;
    background-color: #FFF0F5;
    padding-top: 5px;
    z-index: 10;
}

.actionPanel .panel-heading {
    display: none;
}

.actionPanel .card {
    width: 35px;
    padding: 2px;
}

.playerslotContent {
    width: 60px;
    height: 75px;
    z-index; 5;
}

.playerslot {
    position: absolute;
    z-index; 5;
    font-size: 9px;
    color: white;
}

.playerslot.zero {
    top:244px;
    left:136px;
}

.playerslot.two {
    top:20px;
    left:136px;
}

.playerslot.three {
    top:135px;
    left:270px;
}

.playerslot.one {
    top: 135px;
    left: 15px;
}

.trumpDiv.zero{
    top: 344px;
    left: 190px;
}

.trumpDiv.one{
    left: 35px;
    top: 170px;
}

.trumpDiv.two{
    top: 135px;
    left: 190px;
}

.trumpDiv.three{
    left: 264px;
    top: 170px;
}

.trumpDiv .card {
    width: 30px;
}

.avatar {
    top: 12px;
    width: 45px;
    height: 45px;
    left: 0px;
}


.startGameContent{
    font-size: 12px;
}

.messagesDiv {
    position: absolute;
    bottom: 90px;
    right: 20px;
    width: 100px;
    text-align: left;
    color: #008800;
    font-size: 8px;
}
.chatDiv {
    position: absolute;
    bottom: 100px;
    right: 20px;
    width: 100px;
    text-align: left;
    color: orange;
    font-size: 8px;
    display: none;
}

.chatTextArea{
    background-color: white;
    min-height: 100px;
    font-size: 8px;
    width: 100%;
}

.messagesTextArea {
    background-color: white;
    min-height: 160px;
    font-size: 8px;
    width: 100%;
}

.slot3 {
    position: absolute;
    top: 115px;
    left: 195px;
}

.slot1 {
    position: absolute;
    top: 115px;
    left: 80px;
}

.slot2 {
    position: absolute;
    top: 75px;
    left: 140px;
}

.slot0 {
    position: absolute;
    top: 145px;
    left: 140px;
}

.alert {
    padding: 5px;
    margin-bottom: 2px;
}

.roomDiv {
    text-align: center;
}


.card {
    width: 40px;
}

.hand li
{
    display: inline;
    list-style-type: none;
    padding-right: 2px;
    padding-bottom: 2px;
}

.content {
    margin-top: -20px;
}

.chatTextBox {
    width: 40px;
}

.centerTable .card {
    width: 40px;
}

.roomDiv {
    font-size: 10px;
}

.rightButtonPanel {
    position: absolute;
    z-index: 10;
    top: 460px;
    left: 210px;
    width: 70px;
}

.playerButtonPanel {
    width: 70px;
    top: 400px;
    left: 210px;
}

.teamStatPanel {
    position: absolute;
    top: 80px;
    left: 200px;
    min-width: 105px;
    max-width: 105px;
    min-height: 50px;
    max-height: 50px;
    font-size: 8px;
}

.lastRoundCardsDiv {
    display: none;
}


.joinButton {
    margin-top: 10px;
}




