.profilePanel{
    padding-right: 0;
    padding-left: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F1F1EE;
}

.profilePanel .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F1F1EE;
}

.availableRooms .list-group-item{
    background-color: #FFFFFF;
}
